

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    height: 100vh;
 }

 .quote{
  border: 10px solid olive;
  padding: 50px;
  margin-bottom: 15px;
  width: 90%;
  background-color: beige;
 }
 .btn{
  background-color: black !important;
 }